$font-family: 'Teko', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;;
$font-base-size: 1.4rem;
$primary: #0e0e0e;
$secondary: #eff7ff;
$tertiary: #fefefe;
$quaternary: #369777;
$dark-green: #146248;
$gray: #898989;
$contact-background: #81818114;
$icon-color: #59d36f;